<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>API BaseJump: Request header parser Microservice</h1>
         <blockquote>
           <h3>User Stories</h3>
           <ol>
              <li>I can get the IP address, language and operating system for my browser.</li>
           </ol>
        </blockquote>
         <h3>Example Usage</h3>
         <ul>
           <li> <code>https://clear-lute.glitch.me/api/whoami</code></li>
         </ul>
        <h3>Example Output</h3>
         <ul>
           <li><code>{"ipaddress":"72.190.91.150","language":"en-US","software":"Macintosh; Intel Mac OS X 10_12_5"}</code></li>
         </ul>
      </div>
     
   </body>

</html>